language: c

compiler:
  - gcc
before_install:
  - sudo apt-get update
  - sudo apt-get -y install libcunit1 libcunit1-doc libcunit1-dev
install:
  - echo  "Reached Install Section"

script:
  - echo "Reached Script Section"
  - gcc   -I/CUnit/Headers CUnit/Sources/Basic/Basic.c intial_demo_code_cunit.c -o output
  - ./output
